# Example Notebook For Using Optimizer Tools

In [1]:
import pandas as pd
import datetime as dt

from fps_dfs_optimizer.src.draftkings_tools import get_contests, get_players, EntriesHandler, get_today, get_players_from_salaries
from fps_dfs_optimizer.src.projections import get_projections
from fps_dfs_optimizer.src.optimizer import Exposures, LineupOptimizer
from fps_dfs_optimizer.src.generator import LineupGenerator

## Generate today's players sheet
This block will retrieve the players DataFrame for the current date.
Any projections script can be implemented in get_projections(), but right now dummy projections are given

In [2]:
today = get_today()
today = dt.date(2020, 9, 26)
df_contests = get_contests(today)

In [3]:
df_contests.head()

,id,double_up,draft_group_id,entries,fantasy_player_points,fifty_fifty,guaranteed,head_to_head,name,payout,sport,starred,starts_at,maximum,fee,total
0,92870651,False,40083,"{'maximum': 47058, 'fee': 20.0, 'total': 3959}",20,False,True,False,NBA Showdown $800K Shootaround [$200K to 1st] ...,800000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,47058,20.0,3959
1,92869641,False,40083,"{'maximum': 23781, 'fee': 4.0, 'total': 3089}",4,False,True,False,NBA Showdown $80K Four Point Play [20 Entry Ma...,80000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,23781,4.0,3089
2,92869644,False,40083,"{'maximum': 71343, 'fee': 1.0, 'total': 10411}",1,False,True,False,NBA Showdown $60K And-One (MIA vs BOS),60000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,71343,1.0,10411
3,92869640,False,40083,"{'maximum': 7134, 'fee': 5.0, 'total': 1023}",5,False,True,False,NBA Showdown $30K Zone [$5K to 1st] (MIA vs BOS),30000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,7134,5.0,1023
4,92869662,False,40090,"{'maximum': 3529, 'fee': 10.0, 'total': 474}",10,False,True,False,NBA $30K Pull Up Jumper [$10K to 1st] (Fri-Sat),30000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,3529,10.0,474

In [4]:
group_id = df_contests.draft_group_id.unique()[0]
df_players = get_players(group_id)

## Optionally, can read players sheet directly from DKSalaries, if it is downloaded

In [5]:
df_players = get_players_from_salaries('../data/raw/DKSalaries_test.csv')

In [6]:
points, std = get_projections(df_players)
df_players['projections'] = points
df_players['std'] = std

In [7]:
df_players

,Name,ID,Position,Salary,Game,Time,TeamAbbrev,min_exp,max_exp,projections,std
0,Jayson Tatum,15491687,SF/PF,15900,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,73.668070,32.693852
1,Bam Adebayo,15491688,C,14700,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,53.389831,30.356046
2,Jimmy Butler,15491689,SG/SF,14100,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,85.452446,17.002858
3,Jaylen Brown,15491690,SG/SF,13800,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,83.038824,27.114203
4,Kemba Walker,15491691,PG,13200,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,66.322765,26.766201
...,...,...,...,...,...,...,...,...,...,...,...
63,Meyers Leonard,15491682,PF/C,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,5.933429,1.292981
64,Gabe Vincent,15491683,PG,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,5.426802,2.286846
65,Kyle Alexander,15491684,C,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,4.386105,1.773637
66,KZ Okpala,15491685,SF,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,4.952382,2.073895
67,Vincent Poirier,15491686,C,1000,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,6.277523,1.001845

## Now exposures must be inputted
Here the dataframe above is saved to the data/temp folder for exposures to be filled out.
Once the exposures are filled out, run exp.read_exposures() to pull the sheet into the dataframe.

In [8]:
exp = Exposures(df_players)

In [9]:
df_players = exp.read_exposures()

In [10]:
cols = df_players.columns
df_players

,Name,ID,Position,Salary,Game,Time,TeamAbbrev,min_exp,max_exp,projections,std
0,Jayson Tatum,15491687,SF/PF,15900,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,73.668070,32.693852
1,Bam Adebayo,15491688,C,14700,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,53.389831,30.356046
2,Jimmy Butler,15491689,SG/SF,14100,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,85.452446,17.002858
3,Jaylen Brown,15491690,SG/SF,13800,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,83.038824,27.114203
4,Kemba Walker,15491691,PG,13200,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,66.322765,26.766201
...,...,...,...,...,...,...,...,...,...,...,...
63,Meyers Leonard,15491682,PF/C,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,5.933429,1.292981
64,Gabe Vincent,15491683,PG,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,5.426802,2.286846
65,Kyle Alexander,15491684,C,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,4.386105,1.773637
66,KZ Okpala,15491685,SF,1000,MIA @ BOS,2020-09-25 20:30:00,MIA,0,0.5,4.952382,2.073895
67,Vincent Poirier,15491686,C,1000,MIA @ BOS,2020-09-25 20:30:00,BOS,0,0.5,6.277523,1.001845

# Now let's work with a historical dataframe 
Data is from 2020/01/02

In [11]:
df_players = pd.read_csv('../data/raw/test_20200102.csv')
df_players['Time'] = pd.to_datetime(df_players['Time'])
df_players = df_players[cols]
df_players

,Name,ID,Position,Salary,Game,Time,TeamAbbrev,min_exp,max_exp,projections,std
0,Gary Harris,14066354,SG,4600,MIA@MIL 09/02/2020 06:30PM ET,2020-09-10 23:00:00+00:00,MIL,0,0.4,29.62,4.462711
1,Darius Garland,14066387,PG,4400,OKC@HOU 09/02/2020 09:00PM ET,2020-09-10 23:00:00+00:00,HOU,0,0.4,26.53,4.750068
2,Collin Sexton,14066177,PG/SG,5900,OKC@HOU 09/02/2020 09:00PM ET,2020-09-10 23:00:00+00:00,HOU,0,0.4,34.33,7.762624
3,Kevin Porter,14066428,SG/SF,4200,MIA@MIL 09/02/2020 06:30PM ET,2020-09-10 23:00:00+00:00,MIL,0,0.4,23.80,5.999999
4,Aaron Holiday,14066210,PG/SG,5700,OKC@HOU 09/02/2020 09:00PM ET,2020-09-10 23:00:00+00:00,HOU,0,0.4,31.38,5.332358
...,...,...,...,...,...,...,...,...,...,...,...
212,Patrick Patterson,14066669,PF/C,3200,MIA@MIL 09/02/2020 06:30PM ET,2020-09-10 23:00:00+00:00,HOU,0,0.4,5.28,1.183974
213,Louis King,14066970,SF/PF,3000,MIA@MIL 09/02/2020 06:30PM ET,2020-09-10 23:00:00+00:00,MIL,0,0.4,4.87,0.616341
214,Jerome Robinson,14066841,SG,3000,OKC@HOU 09/02/2020 09:00PM ET,2020-09-10 23:00:00+00:00,HOU,0,0.4,4.05,0.474432
215,Johnathan Motley,14066954,PF/C,3000,MIA@MIL 09/02/2020 06:30PM ET,2020-09-10 23:00:00+00:00,MIA,0,0.4,3.84,0.583016
216,Sekou Doumbouya,14066980,SF/PF,3000,OKC@HOU 09/02/2020 09:00PM ET,2020-09-10 23:00:00+00:00,MIA,0,0.4,3.13,0.599690

# Let's do a simple lineup optimization
This is like the original optimizer. Provide the number of desired lineups and the dataframe.
Note that order=1 is an optional argument, but defaults to unordered (0)
time_limit=10.0 by default, but is also an optional argument.

This first step creates the optimization model.

In [12]:
opt = LineupOptimizer(df_players, n_lineups=10, verbose=True)

## opt.solve() solves the optimization problem

In [13]:
opt.solve()

Version identifier: 12.10.0.0 | 2019-11-27 | 843d4de2ae
CPXPARAM_Read_DataCheck                          1
CPXPARAM_TimeLimit                               10
Warning:  Non-integral bounds for integer variables rounded.
Tried aggregator 1 time.
MIP Presolve eliminated 129 rows and 0 columns.
MIP Presolve modified 10 coefficients.
Reduced MIP has 209 rows, 990 columns, and 5980 nonzeros.
Reduced MIP has 990 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.01 sec. (2.13 ticks)
Found incumbent of value 2155.700000 after 0.03 sec. (8.23 ticks)
Probing time = 0.00 sec. (0.29 ticks)
Tried aggregator 1 time.
Detecting symmetries...
Reduced MIP has 209 rows, 990 columns, and 5980 nonzeros.
Reduced MIP has 990 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.02 sec. (3.11 ticks)
Probing time = 0.00 sec. (0.29 ticks)
MIP emphasis: balance optimality and feasibility.
MIP search method: dynamic search.
Parallel mode: deterministic, using up to 8 threads.
Root relaxation solution time = 0.02 sec. (7.12 ticks)

        Nodes                                         Cuts/
   Node  Left     Objective  IInf  Best Integer    Best Bound    ItCnt     Gap

*     0+    0                         2155.7000    27377.6000              ---
*     0+    0                         2734.6900    27377.6000           901.12%
*     0+    0                         2737.4800    27377.6000           900.10%
      0     0     2760.8424    35     2737.4800     2760.8424      378    0.85%
      0     0     2760.8424    35     2737.4800      Cuts: 21      415    0.85%
      0     0     2760.8424    35     2737.4800      Cuts: 27      464    0.85%
      0     0     2760.8424    35     2737.4800      Cuts: 13      486    0.85%
      0     0     2760.8424    35     2737.4800      Cuts: 25      535    0.85%
*     0+    0                         2751.5700     2760.8424             0.34%
*     0+    0                         2754.7600     2760.8424             0.22%
      0     2     2760.8424    25     2754.7600     2760.8424      535    0.22%
Elapsed time = 0.59 sec. (155.48 ticks, tree = 0.02 MB, solutions = 5)
*   648+    2                         2758.4300     2760.8424             0.09%
   1718   623     2760.5255    30     2758.4300     2760.8424    15245    0.09%
   4915  3227     2760.4013    26     2758.4300     2760.8424    56447    0.09%

Performing restart 1

Repeating presolve.
Tried aggregator 1 time.
MIP Presolve eliminated 52 rows and 520 columns.
MIP Presolve modified 470 coefficients.
Reduced MIP has 157 rows, 470 columns, and 2740 nonzeros.
Reduced MIP has 470 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.03 sec. (1.57 ticks)
Tried aggregator 1 time.
Reduced MIP has 157 rows, 470 columns, and 2740 nonzeros.
Reduced MIP has 470 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.03 sec. (1.54 ticks)
Represolve time = 0.08 sec. (8.88 ticks)
   5763     0     2760.8424    42     2758.4300      Cuts: 18    75252    0.09%
   5763     0     2760.8424    42     2758.4300      Cuts: 26    75300    0.09%
   5763     0     2760.8424    42     2758.4300      Cuts: 19    75332    0.09%
   5763     0     2760.8424    42     2758.4300      Cuts: 35    75384    0.09%
   5763     0     2760.8424    42     2758.4300      Cuts: 20    75431    0.09%
   5763     0     2760.8424    42     2758.4300      Cuts: 25    75481    0.09%
   5763     2     2760.8424    30     2758.4300     2760.8424    75481    0.09%
   6232   411     2759.1062    30     2758.4300     2760.8424    78994    0.09%
  10921  4157     2759.3448    23     2758.4300     2760.8424   107758    0.09%
  21740 12425     2760.8424    29     2758.4300     2760.8424   157459    0.09%
  34318 21828     2760.8055    25     2758.4300     2760.8424   211567    0.09%
  44693 31888     2760.8319    27     2758.4300     2760.8424   271487    0.09%
  51322 38560     2758.9155    23     2758.4300     2760.8424   311627    0.09%
* 63460 46016      integral     0     2758.5200     2760.8424   357524    0.08%

Performing restart 2

Repeating presolve.
Tried aggregator 1 time.
MIP Presolve eliminated 2 rows and 20 columns.
MIP Presolve modified 450 coefficients.
Reduced MIP has 155 rows, 450 columns, and 2600 nonzeros.
Reduced MIP has 450 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.01 sec. (1.50 ticks)
Tried aggregator 1 time.
Reduced MIP has 155 rows, 450 columns, and 2600 nonzeros.
Reduced MIP has 450 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (1.47 ticks)
Represolve time = 0.08 sec. (17.28 ticks)
  73528     0     2760.8424    31     2758.5200      Cuts: 27   444290    0.08%
  73528     0     2760.7824    31     2758.5200      Cuts: 27   444354    0.08%
  73528     0     2760.7824    31     2758.5200      Cuts: 27   444426    0.08%
  73528     0     2760.7824    31     2758.5200      Cuts: 15   444496    0.08%
  73528     0     2760.6700    31     2758.5200      Cuts: 13   444620    0.08%
  73528     0     2760.6700    31     2758.5200      Cuts: 26   444669    0.08%
  73528     0     2760.6700    31     2758.5200      Cuts: 22   444717    0.08%
  73528     0     2760.6700    31     2758.5200      Cuts: 15   444760    0.08%

Repeating presolve.
Tried aggregator 1 time.
MIP Presolve eliminated 1 rows and 10 columns.
Reduced MIP has 154 rows, 440 columns, and 2520 nonzeros.
Reduced MIP has 440 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.89 ticks)
Tried aggregator 1 time.
Reduced MIP has 154 rows, 440 columns, and 2520 nonzeros.
Reduced MIP has 440 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.02 sec. (1.43 ticks)
Represolve time = 0.08 sec. (25.11 ticks)
  73528     0     2760.6700    40     2758.5200      Cuts: 14   445543    0.08%
  73528     0     2760.6700    40     2758.5200      Cuts: 35   445585    0.08%
  73528     0     2760.6700    40     2758.5200      Cuts: 20   445642    0.08%
  73528     0     2760.6700    40     2758.5200       Cuts: 6   445679    0.08%
  73528     0     2760.6700    40     2758.5200      Cuts: 36   445734    0.08%
  73528     0     2760.6700    40     2758.5200      Cuts: 18   445788    0.08%
  73528     0     2760.6700    40     2758.5200      Cuts: 19   445836    0.08%
  73528     0     2760.6700    40     2758.5200      Cuts: 11   445876    0.08%
  73528     0     2760.6700    40     2758.5200      Cuts: 18   445941    0.08%
Advanced basis not built.

Gomory fractional cuts applied:  1

Root node processing (before b&c):
  Real time             =    0.58 sec. (155.26 ticks)
Parallel b&c, 8 threads:
  Real time             =    9.44 sec. (3332.45 ticks)
  Sync time (average)   =    1.35 sec.
  Wait time (average)   =    0.03 sec.
                          ------------
Total (root+branch&cut) =   10.01 sec. (3487.71 ticks)

array([[ 1., -0.,  1.,  0.,  1.,  0., -0.,  1., -0.,  0.],
       [-0.,  0.,  1.,  0., -0.,  1.,  1., -0.,  1., -0.],
       [-0.,  1.,  0.,  1., -0.,  1., -0., -0.,  1., -0.],
       [ 0.,  1.,  1.,  0.,  0.,  0.,  1.,  0., -0.,  1.],
       [ 1.,  0.,  1.,  0., -0.,  1.,  1., -0.,  0.,  0.],
       [-0.,  1., -0.,  0.,  1.,  0., -0.,  1., -0.,  1.],
       [-0., -0.,  0.,  0.,  0.,  0., -0., -0., -0.,  1.],
       [ 0.,  1., -0.,  1.,  1.,  1., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0., -0.,  0., -0.,  0., -0.,  0.],
       [-0., -0.,  1.,  1., -0.,  1., -0., -0.,  1., -0.],
       [ 1., -0., -0.,  0., -0.,  0.,  1.,  1.,  1.,  0.],
       [ 1.,  0.,  0.,  1.,  1.,  0.,  1., -0.,  0.,  0.],
       [ 1., -0., -0.,  1., -0.,  0., -0., -0.,  1.,  1.],
       [ 0.,  0.,  0.,  0., -0.,  0., -0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -0.,  0.],
       [-0.,  1., -0.,  0., -0.,  1.,  1., -0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0., -0.,  0., -0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,  1.],
       [ 1.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  0.],
       [ 1.,  1.,  0.,  0.,  1.,  0.,  0.,  1., -0.,  0.],
       [-0.,  1.,  0.,  1., -0.,  0.,  0.,  1.,  0.,  1.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0., -0., -0.,  0.,  0.,  0., -0.,  0., -0., -0.],
       [-0.,  0.,  0.,  0., -0.,  0., -0., -0., -0.,  0.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0., -0.,  0., -0.,  0.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0., -0.,  0., -0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0., -0.,  0., -0.,  0.],
       [-0.,  0.,  0.,  0., -0.,  0.,  0., -0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.]])

## Now let's sort the optimal lineups

In [13]:
opt.sort_lineups()

6 Infeasible lineups dropped

,PG,SG,SF,PF,C,G,F,UTIL
0,Darius Garland,Collin Sexton,Kevin Porter,LaMarcus Aldridge,Ivica Zubac,Zach LaVine,Jimmy Butler,Shai Gilgeous-Alexander
1,Aaron Holiday,Kevin Porter,Buddy Hield,Bojan Bogdanovic,Ivica Zubac,Donovan Mitchell,LaMarcus Aldridge,Shai Gilgeous-Alexander
2,Spencer Dinwiddie,Gary Harris,Kevin Porter,Bojan Bogdanovic,Ivica Zubac,Jimmy Butler,Marquese Chriss,Domantas Sabonis
3,De'Aaron Fox,Gary Harris,Dillon Brooks,Bojan Bogdanovic,Ivica Zubac,Buddy Hield,Jimmy Butler,DeMar DeRozan

# Lineup Generator and Optimizer
Now we'll use a more complex lineup generation --> monte carlo simulation then select the lineups that have the highest likelihood of being a high scoring team.

<br> The default values are:
<br> var_multiple = 0.5 (we weight lineup projected variance at half the importance of the projected mean)
<br> drop_fraction = 0.5 (half the players are discarded each iteration of generation)
<br> time_limit = 1 (1 second is allowed for each optimization iteration)
<br> duplicates_lim = 100 (once 100 duplicate lineups have been generated, it kills the generator)

## First, instantiate the generator:

In [14]:
gen = LineupGenerator(df_players, n_lineups_to_optimize=150, batch_size=20,
var_multiple=0.5, drop_fraction=0.5, time_limit=1, verbose=False)

## Now run the generator by giving a target number of generated lineups:

In [17]:
# gen.generate(10000)
gen.df_lineups = pd.read_csv('../data/raw/test_lineups.csv', index_col=0)

## Now visualize the player distribution:

In [18]:
players = gen.get_player_distribution(gen.df_lineups)
players[:50]

Ivica Zubac                0.3960
Bojan Bogdanovic           0.3820
DeMar DeRozan              0.3470
Jimmy Butler               0.3395
Spencer Dinwiddie          0.3065
LaMarcus Aldridge          0.3040
Aaron Holiday              0.2960
Harrison Barnes            0.2955
Robert Covington           0.2915
Buddy Hield                0.2905
Collin Sexton              0.2905
Dillon Brooks              0.2855
Darius Garland             0.2845
De'Aaron Fox               0.2735
Marquese Chriss            0.2730
Donovan Mitchell           0.2650
Zach LaVine                0.2535
Jalen Brunson              0.2520
Domantas Sabonis           0.2510
Gary Harris                0.2490
Kevin Porter               0.2365
Shai Gilgeous-Alexander    0.2065
Bam Adebayo                0.1885
Cedi Osman                 0.1520
Richaun Holmes             0.1500
Kyle Lowry                 0.1430
Tristan Thompson           0.1035
Bismack Biyombo            0.0855
Jarrett Culver             0.0850
Shabazz Napier             0.0840
Tim Frazier                0.0765
Dwight Powell              0.0690
T.J. Warren                0.0675
Jeremy Lamb                0.0610
Bryn Forbes                0.0550
Alec Burks                 0.0500
Paul George                0.0470
Luka Doncic                0.0345
Kawhi Leonard              0.0265
Timothe Luwawu-Cabarrot    0.0235
Wendell Carter Jr          0.0215
Chris Paul                 0.0180
Bruce Brown                0.0135
Kendrick Nunn              0.0110
Terry Rozier               0.0100
Andre Drummond             0.0070
Delon Wright               0.0065
Dorian Finney-Smith        0.0045
Danilo Gallinari           0.0045
Ja Morant                  0.0035
dtype: float64

## Now run the Monte Carlo Simulation

In [19]:
gen.get_lineup_score_dists()

,PG,SG,SF,PF,C,G,F,UTIL,mean,std
0,Collin Sexton,Gary Harris,Kevin Porter,Harrison Barnes,Richaun Holmes,Aaron Holiday,Paul George,Kyle Lowry,264.54,17.620039
1,Jalen Brunson,Gary Harris,Kevin Porter,Kawhi Leonard,Marquese Chriss,Aaron Holiday,Paul George,Kyle Lowry,262.63,15.017997
2,Collin Sexton,Gary Harris,Kevin Porter,Harrison Barnes,Marquese Chriss,Kyle Lowry,Richaun Holmes,Kawhi Leonard,264.81,17.261263
3,Jalen Brunson,Spencer Dinwiddie,Harrison Barnes,Marquese Chriss,Richaun Holmes,Collin Sexton,Paul George,Aaron Holiday,270.06,20.851468
4,Collin Sexton,Gary Harris,Kevin Porter,Harrison Barnes,Richaun Holmes,Shabazz Napier,Paul George,Kyle Lowry,263.37,17.406462
...,...,...,...,...,...,...,...,...,...,...
1995,Darius Garland,Gary Harris,Jimmy Butler,Harrison Barnes,Marquese Chriss,Spencer Dinwiddie,Robert Covington,Donovan Mitchell,279.25,20.311315
1996,Spencer Dinwiddie,Gary Harris,Kevin Porter,Marquese Chriss,Bam Adebayo,Tim Frazier,Jimmy Butler,De'Aaron Fox,277.49,19.496710
1997,Darius Garland,Gary Harris,Kevin Porter,Domantas Sabonis,Bismack Biyombo,De'Aaron Fox,Jimmy Butler,Donovan Mitchell,273.53,17.789721
1998,De'Aaron Fox,Kevin Porter,Dillon Brooks,Bojan Bogdanovic,Bam Adebayo,Buddy Hield,Robert Covington,Shai Gilgeous-Alexander,267.74,18.799925
1999,Darius Garland,Jalen Brunson,Buddy Hield,LaMarcus Aldridge,Richaun Holmes,Aaron Holiday,DeMar DeRozan,Zach LaVine,270.45,22.124796

## Now find the optimal set of lineups:

In [20]:
df_optimal = gen.enforce_exposures()

# Now build the sheet:

In [26]:
sheet_name = 'test_DKEntries2.csv'
entries = EntriesHandler('../data/raw/' + sheet_name, gen.df, read_lineups=True)

In [27]:
entries.add_lineups_to_entries(df_optimal)

## Visualize the final sheet

In [29]:
pd.read_csv('../data/raw/test_DKEntries2_v2.csv')

,Entry ID,Contest Name,Contest ID,Entry Fee,PG,SG,SF,PF,C,G,F,UTIL
0,1809803072,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066582,14066354,14066428,14065971,14066260,14066210,14065986,14066006
1,1809803073,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066582,14065998,14066428,14066304,14066260,14066210,14065971,14066006
2,1809803074,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066582,14065998,14066304,14066260,14066065,14066177,14065986,14066186
3,1809803075,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066058,14066354,14066428,14066137,14066019,14066033,14066340,14066061
4,1809803076,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066582,14065998,14066340,14066260,14065994,14066492,14065989,14066053
...,...,...,...,...,...,...,...,...,...,...,...,...
145,1809803217,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066582,14066015,14066428,14066260,14066415,14066033,14065989,14066006
146,1809803218,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14065998,14066088,14066137,14066415,14066177,14065989,14066228
147,1809803219,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14065998,14066428,14066137,14066415,14066033,14066088,14066019
148,1809803220,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14065998,14065989,14066260,14066415,14066177,14066228,14066058
149,1809811864,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14066033,14066088,14066137,14066415,14066058,14066228,14066042