# Example Notebook For Using Optimizer Tools

In [1]:
import pandas as pd
import datetime as dt

from fps_dfs_optimizer.src.draftkings_tools import get_contests, get_players, EntriesHandler, get_today, get_players_from_salaries
from fps_dfs_optimizer.src.projections import get_projections
from fps_dfs_optimizer.src.optimizer import Exposures, LineupOptimizer
from fps_dfs_optimizer.src.generator import LineupGenerator

## Generate today's players sheet
This block will retrieve the players DataFrame for the current date.
Any projections script can be implemented in get_projections(), but right now dummy projections are given

In [2]:
today = get_today()
today = dt.date(2020, 9, 26)
df_contests = get_contests(today)

In [3]:
df_contests.head()

,id,double_up,draft_group_id,entries,fantasy_player_points,fifty_fifty,guaranteed,head_to_head,name,payout,sport,starred,starts_at,maximum,fee,total
0,92870651,False,40083,"{'maximum': 47058, 'fee': 20.0, 'total': 4505}",20,False,True,False,NBA Showdown $800K Shootaround [$200K to 1st] ...,800000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,47058,20.0,4505
1,92869641,False,40083,"{'maximum': 23781, 'fee': 4.0, 'total': 3534}",4,False,True,False,NBA Showdown $80K Four Point Play [20 Entry Ma...,80000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,23781,4.0,3534
2,92869644,False,40083,"{'maximum': 71343, 'fee': 1.0, 'total': 11577}",1,False,True,False,NBA Showdown $60K And-One (MIA vs BOS),60000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,71343,1.0,11577
3,92869647,False,40083,"{'maximum': 222, 'fee': 100.0, 'total': 23}",100,False,True,False,NBA Showdown $20K Showtime [Single Entry] (MIA...,20000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,222,100.0,23
4,92869662,False,40090,"{'maximum': 3529, 'fee': 10.0, 'total': 645}",10,False,True,False,NBA $30K Pull Up Jumper [$10K to 1st] (Fri-Sat),30000.0,Sport.NBA,True,2020-09-26 00:30:00+00:00,3529,10.0,645

In [4]:
group_id = df_contests.draft_group_id.unique()[0]
df_players = get_players(group_id)

## Optionally, can read players sheet directly from DKSalaries, if it is downloaded

In [5]:
# df_players = get_players_from_salaries('../data/raw/DKSalaries_test.csv')

In [6]:
points, std = get_projections(df_players)
df_players['projections'] = points
df_players['std'] = std

In [7]:
df_players.head()

,Name,ID,Position,Status,Salary,Game,Time,TeamAbbrev,projections,std
0,Jayson Tatum,15491687,SF/PF,Recent,15900,MIA @ BOS,2020-09-26T00:30:00.0000000Z,BOS,81.566716,13.454629
1,Bam Adebayo,15491688,C,Recent,14700,MIA @ BOS,2020-09-26T00:30:00.0000000Z,MIA,78.214688,16.980101
2,Jimmy Butler,15491689,SG/SF,Recent,14100,MIA @ BOS,2020-09-26T00:30:00.0000000Z,MIA,59.573815,37.987394
3,Jaylen Brown,15491690,SG/SF,Recent,13800,MIA @ BOS,2020-09-26T00:30:00.0000000Z,BOS,88.718590,25.383903
4,Kemba Walker,15491691,PG,Recent,13200,MIA @ BOS,2020-09-26T00:30:00.0000000Z,BOS,51.920136,28.223592

## Now exposures must be inputted
Here the dataframe above is saved to the data/temp folder for exposures to be filled out.
Once the exposures are filled out, run exp.read_exposures() to pull the sheet into the dataframe.

In [8]:
exp = Exposures(df_players)

Please fill out exposures in ../data/temp/20200924.csv

In [9]:
df_players = exp.read_exposures()

In [10]:
cols = df_players.columns
df_players

,Name,ID,Position,Salary,Status,TeamAbbrev,Time,projections,std,min_exp,max_exp
0,Jayson Tatum,15491687,SF/PF,15900,Recent,BOS,2020-09-26 00:30:00+00:00,81.566716,13.454629,0,0.4
1,Bam Adebayo,15491688,C,14700,Recent,MIA,2020-09-26 00:30:00+00:00,78.214688,16.980101,0,0.4
2,Jimmy Butler,15491689,SG/SF,14100,Recent,MIA,2020-09-26 00:30:00+00:00,59.573815,37.987394,0,0.4
3,Jaylen Brown,15491690,SG/SF,13800,Recent,BOS,2020-09-26 00:30:00+00:00,88.718590,25.383903,0,0.4
4,Kemba Walker,15491691,PG,13200,Recent,BOS,2020-09-26 00:30:00+00:00,51.920136,28.223592,0,0.4
...,...,...,...,...,...,...,...,...,...,...,...
63,Meyers Leonard,15491682,PF/C,1000,None,MIA,2020-09-26 00:30:00+00:00,5.721910,2.431302,0,0.4
64,Gabe Vincent,15491683,PG,1000,Recent,MIA,2020-09-26 00:30:00+00:00,4.166982,2.913560,0,0.4
65,Kyle Alexander,15491684,C,1000,None,MIA,2020-09-26 00:30:00+00:00,5.247846,1.813188,0,0.4
66,KZ Okpala,15491685,SF,1000,None,MIA,2020-09-26 00:30:00+00:00,5.451583,1.760401,0,0.4
67,Vincent Poirier,15491686,C,1000,None,BOS,2020-09-26 00:30:00+00:00,4.783257,1.499317,0,0.4

# Now let's work with a historical dataframe 
Data is from 2020/01/02

In [11]:
df_players = pd.read_csv('../data/raw/test_20200102.csv')
df_players['Time'] = pd.to_datetime(df_players['Time'])
df_players = df_players[cols]
df_players.head()

,Name,ID,Position,Salary,Status,TeamAbbrev,Time,projections,std,min_exp,max_exp
0,Gary Harris,14066354,SG,4600,recent,MIL,2020-09-10 23:00:00+00:00,29.62,4.462711,0,0.4
1,Darius Garland,14066387,PG,4400,recent,HOU,2020-09-10 23:00:00+00:00,26.53,4.750068,0,0.4
2,Collin Sexton,14066177,PG/SG,5900,recent,HOU,2020-09-10 23:00:00+00:00,34.33,7.762624,0,0.4
3,Kevin Porter,14066428,SG/SF,4200,recent,MIL,2020-09-10 23:00:00+00:00,23.80,5.999999,0,0.4
4,Aaron Holiday,14066210,PG/SG,5700,recent,HOU,2020-09-10 23:00:00+00:00,31.38,5.332358,0,0.4

# Let's do a simple lineup optimization
This is like the original optimizer. Provide the number of desired lineups and the dataframe.
Note that order=1 is an optional argument, but defaults to unordered (0)
time_limit=10.0 by default, but is also an optional argument.

This first step creates the optimization model.

In [12]:
opt = LineupOptimizer(df_players, n_lineups=10, verbose=True)

## opt.solve() solves the optimization problem

In [13]:
opt.solve()

Version identifier: 12.10.0.0 | 2019-11-27 | 843d4de2ae
CPXPARAM_Read_DataCheck                          1
CPXPARAM_TimeLimit                               10
Warning:  Non-integral bounds for integer variables rounded.
Tried aggregator 1 time.
MIP Presolve eliminated 129 rows and 0 columns.
MIP Presolve modified 10 coefficients.
Reduced MIP has 209 rows, 990 columns, and 5980 nonzeros.
Reduced MIP has 990 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (2.13 ticks)
Found incumbent of value 2160.590000 after 0.03 sec. (8.53 ticks)
Probing time = 0.00 sec. (0.29 ticks)
Tried aggregator 1 time.
Detecting symmetries...
Reduced MIP has 209 rows, 990 columns, and 5980 nonzeros.
Reduced MIP has 990 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.02 sec. (3.11 ticks)
Probing time = 0.00 sec. (0.29 ticks)
MIP emphasis: balance optimality and feasibility.
MIP search method: dynamic search.
Parallel mode: deterministic, using up to 8 threads.
Root relaxation solution time = 0.02 sec. (11.08 ticks)

        Nodes                                         Cuts/
   Node  Left     Objective  IInf  Best Integer    Best Bound    ItCnt     Gap

*     0+    0                         2160.5900    27377.6000              ---
*     0+    0                         2724.0500    27377.6000           905.03%
      0     0     2757.8667    35     2724.0500     2757.8667      607    1.24%
      0     0     2757.8667    35     2724.0500      Cuts: 26      650    1.24%
      0     0     2757.8667    35     2724.0500      Cuts: 10      670    1.24%
      0     0     2757.8667    35     2724.0500      Cuts: 18      710    1.24%
*     0+    0                         2746.3800     2757.8667             0.42%
*     0+    0                         2751.2600     2757.8667             0.24%
      0     2     2757.8667    28     2751.2600     2757.8667      710    0.24%
Elapsed time = 0.72 sec. (170.24 ticks, tree = 0.02 MB, solutions = 4)
*     5+    1                         2752.6800     2757.8667             0.19%
*     5+    1                         2754.1000     2757.8667             0.14%
*     5+    1                         2754.5000     2757.8667             0.12%
   1831  1281     2757.6880    35     2754.5000     2757.8667    15815    0.12%
   4442  3571     2757.3306    27     2754.5000     2757.8667    52633    0.12%

Performing restart 1

Repeating presolve.
Tried aggregator 1 time.
MIP Presolve eliminated 47 rows and 470 columns.
MIP Presolve modified 1040 coefficients.
Reduced MIP has 162 rows, 520 columns, and 3030 nonzeros.
Reduced MIP has 520 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (1.87 ticks)
Tried aggregator 1 time.
Reduced MIP has 162 rows, 520 columns, and 3030 nonzeros.
Reduced MIP has 520 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.02 sec. (1.69 ticks)
Represolve time = 0.03 sec. (8.89 ticks)
   4938     0     2757.8667    45     2754.5000      Cuts: 13    64067    0.12%
   4938     0     2757.8667    45     2754.5000       Cuts: 5    64087    0.12%
   4938     0     2757.8667    45     2754.5000      Cuts: 32    64125    0.12%
   4938     0     2757.8667    45     2754.5000      Cuts: 13    64169    0.12%
   4938     0     2757.8667    45     2754.5000      Cuts: 15    64207    0.12%
   4938     0     2757.8667    45     2754.5000      Cuts: 24    64234    0.12%
   4938     2     2757.8667    28     2754.5000     2757.8667    64234    0.12%
   5528   442     2756.9833    34     2754.5000     2757.8667    68136    0.12%
   8683  2424     2757.5508    25     2754.5000     2757.8667    83321    0.12%
  18539 10304     2756.4944    28     2754.5000     2757.8667   129669    0.12%
  31000 18459     2754.8006    25     2754.5000     2757.8667   179085    0.12%
  42326 30026     2757.3833    27     2754.5000     2757.8667   250745    0.12%
* 46205+28112                         2754.9700     2757.8667             0.11%
* 49059+28112                         2755.1200     2757.8667             0.10%
  50534 36437     2755.4613    26     2755.1200     2757.8667   290322    0.10%
* 64129+28112                         2755.1300     2757.8667             0.10%

Performing restart 2

Repeating presolve.
Tried aggregator 1 time.
MIP Presolve eliminated 4 rows and 40 columns.
Reduced MIP has 158 rows, 480 columns, and 2800 nonzeros.
Reduced MIP has 480 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.02 sec. (0.99 ticks)
Tried aggregator 1 time.
Reduced MIP has 158 rows, 480 columns, and 2800 nonzeros.
Reduced MIP has 480 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (1.57 ticks)
Represolve time = 0.06 sec. (14.19 ticks)
  71181     0     2757.8667    39     2755.1300      Cuts: 12   413359    0.10%
  71181     0     2757.8667    39     2755.1300      Cuts: 13   413397    0.10%
  71181     0     2757.8667    39     2755.1300      Cuts: 36   413448    0.10%
  71181     0     2757.8667    39     2755.1300      Cuts: 16   413500    0.10%
  71181     0     2757.8667    39     2755.1300      Cuts: 10   413538    0.10%
  71181     0     2757.8667    39     2755.1300      Cuts: 21   413569    0.10%
  71181     0     2757.8667    39     2755.1300       Cuts: 8   413593    0.10%
* 71181+    0                         2756.3400     2757.8667             0.06%

Repeating presolve.
Tried aggregator 1 time.
MIP Presolve eliminated 48 rows and 180 columns.
MIP Presolve modified 300 coefficients.
Reduced MIP has 110 rows, 300 columns, and 1520 nonzeros.
Reduced MIP has 300 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (1.03 ticks)
Tried aggregator 1 time.
Reduced MIP has 110 rows, 300 columns, and 1520 nonzeros.
Reduced MIP has 300 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.01 sec. (0.91 ticks)
Represolve time = 0.05 sec. (15.15 ticks)
  71181     0     2757.4200    37     2756.3400      Cuts: 22   413977    0.04%
  71181     0     2757.4200    37     2756.3400      Cuts: 29   414026    0.04%
  71181     0     2757.4200    37     2756.3400     Covers: 4   414047    0.04%
  71181     0     2757.4200    37     2756.3400      Cuts: 22   414103    0.04%
  71181     0     2757.4200    37     2756.3400       Cuts: 2   414107    0.04%
  71181     0     2757.4200    37     2756.3400      Cuts: 13   414134    0.04%
  71181     0     2757.4200    37     2756.3400       Cuts: 3   414171    0.04%
  71181     0     2757.4200    37     2756.3400       Cuts: 4   414195    0.04%
  71181     0     2757.4200    37     2756.3400       Cuts: 8   414228    0.04%
  71181     2     2757.4200    18     2756.3400     2757.4200   414228    0.04%
Elapsed time = 9.69 sec. (3544.40 ticks, tree = 0.02 MB, solutions = 17)
Starting limited solution polishing.

Gomory fractional cuts applied:  1

Root node processing (before b&c):
  Real time             =    0.69 sec. (170.07 ticks)
Parallel b&c, 8 threads:
  Real time             =    9.33 sec. (3573.36 ticks)
  Sync time (average)   =    1.73 sec.
  Wait time (average)   =    0.04 sec.
                          ------------
Total (root+branch&cut) =   10.02 sec. (3743.43 ticks)

array([[ 0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.],
       [ 0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  0.],
       [ 0.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 1.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  1.],
       [ 1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,  1.],
       [ 1.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  1.],
       [ 0.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.],
       [ 0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.],
       [-0., -0., -0., -0., -0., -0., -0., -0., -0., -0.]])

## Now let's sort the optimal lineups

In [14]:
opt.sort_lineups()

2 Infeasible lineups dropped

,PG,SG,SF,PF,C,G,F,UTIL
0,Darius Garland,Collin Sexton,Jimmy Butler,Bojan Bogdanovic,Marquese Chriss,Aaron Holiday,Robert Covington,Donovan Mitchell
1,Spencer Dinwiddie,Collin Sexton,Kevin Porter,Bojan Bogdanovic,Ivica Zubac,DeMar DeRozan,Robert Covington,Donovan Mitchell
2,De'Aaron Fox,Gary Harris,Buddy Hield,Bojan Bogdanovic,Ivica Zubac,DeMar DeRozan,Marquese Chriss,Donovan Mitchell
3,Darius Garland,Aaron Holiday,Buddy Hield,Bojan Bogdanovic,Ivica Zubac,Zach LaVine,DeMar DeRozan,LaMarcus Aldridge
4,Darius Garland,Jalen Brunson,Dillon Brooks,Robert Covington,LaMarcus Aldridge,Donovan Mitchell,Domantas Sabonis,Zach LaVine
5,Jalen Brunson,Aaron Holiday,Kevin Porter,Marquese Chriss,LaMarcus Aldridge,De'Aaron Fox,Jimmy Butler,Zach LaVine
6,Jalen Brunson,Gary Harris,Buddy Hield,Robert Covington,Domantas Sabonis,Darius Garland,Jimmy Butler,Spencer Dinwiddie
7,Spencer Dinwiddie,Aaron Holiday,Kevin Porter,Domantas Sabonis,Ivica Zubac,De'Aaron Fox,Dillon Brooks,Richaun Holmes

# Lineup Generator and Optimizer
Now we'll use a more complex lineup generation --> monte carlo simulation then select the lineups that have the highest likelihood of being a high scoring team.

<br> The default values are:
<br> var_multiple = 0.5 (we weight lineup projected variance at half the importance of the projected mean)
<br> drop_fraction = 0.5 (half the players are discarded each iteration of generation)
<br> time_limit = 1 (1 second is allowed for each optimization iteration)
<br> duplicates_lim = 100 (once 100 duplicate lineups have been generated, it kills the generator)

## First, instantiate the generator:

In [15]:
gen = LineupGenerator(df_players, n_lineups_to_optimize=150, batch_size=20,
var_multiple=0.5, drop_fraction=0.05, time_limit=5, verbose=False)

## Now run the generator by giving a target number of generated lineups:

In [16]:
gen.generate(150)
# gen.df_lineups = pd.read_csv('../data/raw/test_lineups.csv', index_col=0)

2 Infeasible lineups dropped
18 Lineups
0 Duplicates
3 Infeasible lineups dropped
34 Lineups
1 Duplicates
2 Infeasible lineups dropped
52 Lineups
1 Duplicates
1 Infeasible lineups dropped
71 Lineups
1 Duplicates
2 Infeasible lineups dropped
88 Lineups
2 Duplicates
2 Infeasible lineups dropped
104 Lineups
4 Duplicates
1 Infeasible lineups dropped
121 Lineups
5 Duplicates
2 Infeasible lineups dropped
139 Lineups
5 Duplicates
0 Infeasible lineups dropped
148 Lineups
7 Duplicates
1 Infeasible lineups dropped
149 Lineups
7 Duplicates
0 Infeasible lineups dropped
149 Lineups
8 Duplicates
0 Infeasible lineups dropped
149 Lineups
9 Duplicates
0 Infeasible lineups dropped
149 Lineups
10 Duplicates
0 Infeasible lineups dropped
149 Lineups
11 Duplicates
0 Infeasible lineups dropped
150 Lineups
11 Duplicates

,PG,SG,SF,PF,C,G,F,UTIL
0,Darius Garland,Jalen Brunson,DeMar DeRozan,Cedi Osman,LaMarcus Aldridge,Spencer Dinwiddie,Domantas Sabonis,Collin Sexton
1,Spencer Dinwiddie,Gary Harris,Dillon Brooks,Bojan Bogdanovic,Marquese Chriss,Collin Sexton,Buddy Hield,Donovan Mitchell
2,Darius Garland,Spencer Dinwiddie,Buddy Hield,Bojan Bogdanovic,Ivica Zubac,De'Aaron Fox,Marquese Chriss,DeMar DeRozan
3,Darius Garland,Jalen Brunson,Jimmy Butler,Marquese Chriss,Ivica Zubac,Donovan Mitchell,DeMar DeRozan,Domantas Sabonis
4,Collin Sexton,Gary Harris,Buddy Hield,Bojan Bogdanovic,Ivica Zubac,De'Aaron Fox,DeMar DeRozan,LaMarcus Aldridge
...,...,...,...,...,...,...,...,...
145,Spencer Dinwiddie,Gary Harris,Kevin Porter,LaMarcus Aldridge,Ivica Zubac,Jimmy Butler,Dillon Brooks,Zach LaVine
146,Darius Garland,Spencer Dinwiddie,Buddy Hield,Bojan Bogdanovic,Marquese Chriss,Collin Sexton,Harrison Barnes,Donovan Mitchell
147,Jalen Brunson,Gary Harris,DeMar DeRozan,Bojan Bogdanovic,Marquese Chriss,De'Aaron Fox,LaMarcus Aldridge,Donovan Mitchell
148,Spencer Dinwiddie,Collin Sexton,Dillon Brooks,Bojan Bogdanovic,Ivica Zubac,Donovan Mitchell,Marquese Chriss,Richaun Holmes
149,Jalen Brunson,Gary Harris,Buddy Hield,Bojan Bogdanovic,Ivica Zubac,Spencer Dinwiddie,Jimmy Butler,LaMarcus Aldridge

## Now visualize the player distribution:

In [17]:
players = gen.get_player_distribution(gen.df_lineups)
players[:50]

Ivica Zubac                0.500000
Bojan Bogdanovic           0.486667
Collin Sexton              0.453333
Jimmy Butler               0.453333
Spencer Dinwiddie          0.440000
Gary Harris                0.440000
De'Aaron Fox               0.433333
Buddy Hield                0.433333
Darius Garland             0.426667
Jalen Brunson              0.420000
Donovan Mitchell           0.413333
LaMarcus Aldridge          0.406667
Marquese Chriss            0.400000
DeMar DeRozan              0.393333
Domantas Sabonis           0.353333
Dillon Brooks              0.286667
Zach LaVine                0.266667
Robert Covington           0.220000
Kevin Porter               0.200000
Harrison Barnes            0.186667
Aaron Holiday              0.146667
Richaun Holmes             0.100000
Cedi Osman                 0.086667
Shai Gilgeous-Alexander    0.020000
Alec Burks                 0.006667
T.J. Warren                0.006667
Timothe Luwawu-Cabarrot    0.006667
Tim Frazier                0.006667
Bam Adebayo                0.006667
dtype: float64

## Now run the Monte Carlo Simulation

In [19]:
gen.get_lineup_score_dists()

,PG,SG,SF,PF,C,G,F,UTIL,mean,std
0,Collin Sexton,Gary Harris,Kevin Porter,Harrison Barnes,Richaun Holmes,Aaron Holiday,Paul George,Kyle Lowry,264.54,17.620039
1,Jalen Brunson,Gary Harris,Kevin Porter,Kawhi Leonard,Marquese Chriss,Aaron Holiday,Paul George,Kyle Lowry,262.63,15.017997
2,Collin Sexton,Gary Harris,Kevin Porter,Harrison Barnes,Marquese Chriss,Kyle Lowry,Richaun Holmes,Kawhi Leonard,264.81,17.261263
3,Jalen Brunson,Spencer Dinwiddie,Harrison Barnes,Marquese Chriss,Richaun Holmes,Collin Sexton,Paul George,Aaron Holiday,270.06,20.851468
4,Collin Sexton,Gary Harris,Kevin Porter,Harrison Barnes,Richaun Holmes,Shabazz Napier,Paul George,Kyle Lowry,263.37,17.406462
...,...,...,...,...,...,...,...,...,...,...
1995,Darius Garland,Gary Harris,Jimmy Butler,Harrison Barnes,Marquese Chriss,Spencer Dinwiddie,Robert Covington,Donovan Mitchell,279.25,20.311315
1996,Spencer Dinwiddie,Gary Harris,Kevin Porter,Marquese Chriss,Bam Adebayo,Tim Frazier,Jimmy Butler,De'Aaron Fox,277.49,19.496710
1997,Darius Garland,Gary Harris,Kevin Porter,Domantas Sabonis,Bismack Biyombo,De'Aaron Fox,Jimmy Butler,Donovan Mitchell,273.53,17.789721
1998,De'Aaron Fox,Kevin Porter,Dillon Brooks,Bojan Bogdanovic,Bam Adebayo,Buddy Hield,Robert Covington,Shai Gilgeous-Alexander,267.74,18.799925
1999,Darius Garland,Jalen Brunson,Buddy Hield,LaMarcus Aldridge,Richaun Holmes,Aaron Holiday,DeMar DeRozan,Zach LaVine,270.45,22.124796

## Now find the optimal set of lineups:

In [20]:
df_optimal = gen.enforce_exposures()

# Now build the sheet:

In [18]:
sheet_name = 'test_DKEntries2.csv'
entries = EntriesHandler('../data/raw/' + sheet_name, gen.df, read_lineups=True)

In [19]:
# entries.add_lineups_to_entries(df_optimal)
entries.add_lineups_to_entries(gen.df_lineups)

## Visualize the final sheet

In [20]:
pd.read_csv('../data/raw/test_DKEntries2_v2.csv')

,Entry ID,Contest Name,Contest ID,Entry Fee,PG,SG,SF,PF,C,G,F,UTIL
0,1809803072,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14066582,14066053,14066371,14066042,14065998,14065994,14066177
1,1809803073,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14065998,14066354,14066340,14066137,14066260,14066177,14066088,14066015
2,1809803074,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14065998,14066088,14066137,14066415,14066058,14066260,14066053
3,1809803075,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14066582,14065989,14066260,14066415,14066015,14066053,14065994
4,1809803076,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066177,14066354,14066088,14066137,14066415,14066058,14066053,14066042
...,...,...,...,...,...,...,...,...,...,...,...,...
145,1809803217,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14065998,14066354,14066428,14066042,14066415,14065989,14066340,14066033
146,1809803218,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066387,14065998,14066088,14066137,14066260,14066177,14066304,14066015
147,1809803219,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066582,14066354,14066053,14066137,14066260,14066058,14066042,14066015
148,1809803220,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14065998,14066177,14066340,14066137,14066415,14066015,14066260,14066065
149,1809811864,NBA $12K mini-MAX [150 Entry Max],83787211,$0.50,14066582,14066354,14066088,14066137,14066415,14065998,14065989,14066042